In [22]:
import pandas as pd
df = pd.read_csv('tabla_informe2.csv')

In [23]:
min_error = df.sort_values(by='Error').iloc[0]['Error']

In [24]:
df[df['Error'] == min_error]

   Method  Iteration     Error    RE   Result        x1        x2
4  SOR-w3         15  0.000299  0.48  Triunfa  4.000276  2.999779

In [29]:
min_error = df.sort_values(by='Error').iloc[0]['Error']
min_iter  = df.sort_values(by='Iteration').iloc[0]['Iteration']

data_iter = df[df['Iteration']==min_iter].drop(['RE', 'Result'], axis=1).astype(str).to_dict(orient='records')

In [30]:
data_iter

[{'Method': 'SOR-w3',
  'Iteration': '15',
  'Error': '0.0002986948921162',
  'x1': '4.00027571913359',
  'x2': '2.99977942461596'}]